<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <p>{{message}}</p>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-row">
            {% for field in myform %}
                <div class="col-md-6">
                    {% if field.errors %}
                    <div class="alert alert-danger" role="alert">
                            {{field.errors}} 
                          </div>
                    {% endif %}
                    {{field.label_tag}}
                    {{field}}
                </div>
            {% endfor %}
        </div>
        <button type="submit">Gonder</button>
    </form>
</div>

</body>
</html>